@import './common/fonts.scss', './common/common.scss';

:root {
    --red: #CF1B1B;
    --purple: #6750A4;
    --text: #49454F;
    --title: #1C1B1F;
    --date: #CAC4D0;
    --bg: #F3EDF7;
    --shadow: 0px 1px 3px 0px #0000004D;
    --editBg: #E6DDFF;
    --delBg: #FFE1E1;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg);
    box-shadow: var(--shadow);
    align-items: center;
    padding: 15px 20px;
    @media (max-width:1000px) {
        padding: 10px 15px;
    }
    &_title {
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        @media (max-width:1000px) {
            font-size: 18px;
            line-height: 20px;
        }
        @media (max-width:700px) {
            font-size: 14px;
            line-height: 20px;
        }
    }
    &_lang {
        position: relative;
        overflow: hidden;
        height: 30px;
        min-width: 60px;
        @media (max-width:1000px) {
            height: 20px;
            min-width: 50px;
        }
        @media (max-width:700px) {
            height: 10px;
            min-width: 35px;
        }
        &_btn {
            display: flex;
            align-items: center;
            gap: 5px;
            position: absolute;
            top: -100%;
            transition: 0.5s;
            &.active {
                top: 0;
            }
            span {
                font-size: 20px;
                font-weight: 500;
                @media (max-width:1000px) {
                    font-size: 16px;
                }
                @media (max-width:700px) {
                    font-size: 12px;
                    top: -200%;
                    overflow: hidden;

                }
            }
            img {
                width: 25px;
                @media (max-width:1000px) {
                    width: 20px;
                }
                @media (max-width:700px) {
                    width: 15px;
                }
            }
        }
    }

    &_clear,
    &_search,
    &_back {
        color: var(--text);
        font-size: 30px;
        @media (max-width:1000px) {
            font-size: 25px;
        }
        @media (max-width:700px) {
            font-size: 18px;
        }
    }

    &_input {
        background-color: unset;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        width: 100%;
        @media (max-width:1000px) {
            font-size: 15px;
            line-height: 15px;
        }
    }
}
.search {
    position: absolute;
    width: 100%;
    left: 0;
    top: -100px;
    transition: 0.5s;
    &.active {
        top: 0;
    }
}
.notes {
    margin-top: 30px;
    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_title {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        color: #323232;
        @media (max-width:1000px) {
            font-size: 18px;
            line-height: 20px;
        }
    }
    &_btn {
        padding: 16px;
        background-color: var(--bg);
        box-shadow: var(--shadow);
        display: flex;
        align-items: center;
        gap: 14px;
        border-radius: 16px;
        color: var(--purple);
        font-size: 24px;
        cursor: pointer;
        user-select: none;
        @media (max-width:1000px) {
            padding: 12px;
            font-size: 18px;
            gap: 10px;
        }
        span {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            @media (max-width:1000px) {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
    &_box {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        @media (max-width:1000px) {
            margin-top: 20px;
            gap: 20px;
        }
        @media (max-width:700px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 14px;
        }
        &.active {
            display: flex;
            flex-direction: column;
            @media (max-width:700px) {
                display: block;
            }
        }
    }
    &_card {
        background-color: var(--bg);
        box-shadow: var(--shadow);
        padding: 16px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        @media (max-width:1000px) {
            padding: 12px;
            border-radius: 10px;
        }
        &_title {
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            color: var(--title);
            @media (max-width:1000px) {
                font-size: 14px;
                line-height: 18xp;
            }
        }
        &_date {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: var(--date);
            margin-top: 5px;
            @media (max-width:1000px) {
                font-size: 12px;
                line-height: 14px;
            }
        }
        &_text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin: 16px 0;
            overflow: hidden;
            @media (max-width:1000px) {
                font-size: 12px;
                line-height: 15px;
                margin: 10px 0;
            }
        }
    }
    &_btns {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
    }
}
.btn {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.5s;
    text-transform: uppercase;
    @media (max-width:1000px) {
        padding: 8px;
        gap: 6px;
        font-size: 12px;
    }
    &_primary {
        color: var(--purple);
        &:hover {
            background-color: var(--editBg);
        }
    }
    &_danger {
        color: var(--red);
        &:hover {
            background-color: var(--delBg);
        }
    }
    span {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        @media (max-width:1000px) {
            font-size: 10px;
            line-height: 15px;
        }
    }
}
.add_btn {
    border-radius: 16px;
    padding: 20px;
    background-color: var(--bg);
    box-shadow: var(--shadow);
    font-size: 25px;
    color: var(--purple);
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    bottom: 30px;
    @media (max-width:1000px) {
        border-radius: 10px;
        padding: 12px;
        font-style: 18px;
        margin-top: 6px;
        bottom: 20px;
    }
}
.add {
    width: 100%;
    height: 100vh;
    background: #00000059;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -99;
    pointer-events: none;
    transition: 0.5s;
    &_form{
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media (max-width:1000px) {
            gap: 10px;
        }
    }
    &_card {
        display: flex;
        flex-direction: column;
        background-color: var(--bg);
        box-shadow: var(--shadow);
        padding: 24px;
        border-radius: 16px;
        gap: 16px;
        transform: scale(0);
        transition: 0.5s;
        @media (max-width:1000px) {
            padding: 18px;
            border-radius:  10px;
        }
    }
    &.active {
        opacity: 1;
        z-index: 99;
        pointer-events: all;
        .add_card{
            transform: scale(1);
            @media (max-width:700px) {
                transform: scale(0.5);

            }
        }
    }
    &_btns {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &_title{
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: var(--title);
        @media (max-width:1000px) {
            font-size: 18px;
            line-height: 20px;

        }
        @media (max-width:700px) {
            font-style: 12px;
            line-height: 10px;

        }
    }
    &_label {
        padding: 25px 16px 9px;
        background: #E7E0EC;
        position: relative;
        border-bottom: 1px solid #1C1B1F;
        border-radius: 4px 4px 0 0;
        width: 264px;
        overflow: hidden;
        @media (max-width:1000px) {
            padding: 18px 10px 5px;
            width: 200px;
            overflow: hidden;
        }
        span {
            position: absolute;
            top: 8px;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: var(--purple);
            @media (max-width:1000px) {
                top: 5px;
                font-size: 8px;
                line-height: 10px;
            }
        }
        input {
            background: unset;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            overflow: hidden;
            @media (max-width:1000px) {
                font-style: 12px;
                line-height: 18px;
                overflow: hidden;
            }
        }
    }
}
.nonote {
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    @media (max-width:1000px) {
        font-size: 18px;
        margin-top: 20px;
    }
}